@import 'variables';

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $trim-color;
    background-color: $accent-color;
    min-height: 8em;
    padding: 0.5em;
    align-items: center;
}

.footer a {
    color: $font-color;
}

.footer p {
    color: $font-color;
}

.footer .social {
    font-size: 2rem;
}

.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.social a {
    text-decoration: none;
    text-align: center;
    padding: 0.5em;
    width: 60px;
    height: 60px;
    transition: all 0.3s ease-in-out;
    border-radius: 100%;
    margin: 0.3em;
}

.social a i {
    transform: translate(-5%, -5%);
}

.social a:hover {
    color: $accent-color;
    background-color: $font-color;
}
