@import 'variables';

.header,
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header .clock-body {
    margin-right: 1em;
}

.header { 
    background-color: $accent-color;
    margin-bottom: 3em;
    padding-right: 3em;
    border-bottom: 2px solid $background-color;
    padding-left: 5vw;
    padding-right: 5vw;
}

.logo img {
    border-radius: 10px;
}

.title,
.logo {
    padding: 1em;
}
