/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header { 
    background-color: #222222;
    margin-bottom: 3em;
    padding-right: 3em;
    border-bottom: 2px solid #ccc;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* Title */
.logo img{
    border-radius: 10px;
}
.title, .logo {
    padding: 1em 1em 1em 1em;
}