body {
    display: flex;
    flex-direction: column;
    background-color: rgb(211, 211, 211);

}

.main {
    flex: 1 0 auto;
    margin-left: 15%;
    margin-right: 15%;
}

.main .text-img {
    float: left;
    border-radius: 10px;
    margin: 0 0.5em;
}

.img-banner {
    object-fit: cover;
    border-radius: 10px;
    margin: 0 0 1em;
}
