@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .main {
        margin-left: 5%;
        margin-right: 5%;
    }

    .header {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 930px) {
    .logo {
        display: none;
    }

}
