@import 'variables';

.nav li:hover {
    background-color: $background-alt-color;
    color: $accent-color;
}

.nav ul li {
    border-radius: 20px;
    border: 1px solid $trim-color;
    margin: 0.5em;
    font-size: 18px;
    color: $font-color;
    transition: all 0.3s;
}

.nav ul a li {
    padding: 0.3em 1em;
}

.nav-toggle {
    color: $font-color;
}
