{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="tech-main main" role="main">
        <ul class="tech-aside">
            {% for page in pages(current_page.id, offset = -1, depth = 1, depthOffset = 1) %}
                <li>
                    <a href="{{ page.url }}">
                        {{ page.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="tech-article">
            {{ content }}
        </div>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
