
.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $footer-accent-color;
    // background-color: $footer-background-color;
    background-image: linear-gradient(45deg, $footer-background-color, $footer-alt-background-color);
    min-height: 8em;
    padding: 0.5em;
    align-items: center;
    margin-top: 3em;
    width: 100%;
}

.footer p,
.footer a {
    color: $font-primary-color;
}

.footer .social {
    font-size: 2rem;
}

.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.social a {
    text-decoration: none;
    text-align: center;
    padding: 0.5em;
    width: 60px;
    height: 60px;
    transition: all 0.3s ease-in-out;
    border-radius: 100%;
    margin: 0.3em;
    color: $footer-accent-color;
}

.social a i {
    transform: translate(-5%, -5%);
}

.social a:hover,
.social .social-active {
    color: $footer-background-color;
    background-color: $footer-accent-color;
}
